.add-contact{
    height: 36px;
    width: 126px;
    border: 0px;
    border-radius: 4px;
    color: white;
    background-color: #006EFA;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}