body{
  margin: 0px;
  background-color: #F1F5F9;
}
.contact-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 60px; 
  width: 100%;
  background: linear-gradient(90deg, #006EFA 0%, #07CDBE 100%);
  display: flex;
  align-items: center; 
}

.header-logo {
  height: 50px; 
  width: 150px;
  margin-left: 205px;
}

.page-content{
  display: flex;
  flex-direction: column;
}

h2{
  font-weight: 600;
  font-size: 20px;
  color: #0F172A;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F1F5F9;
}

.page-container{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 16px 12px;
}

.container-top{
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1px;
}
