.contact-page{
    width: 100%;
}

.header {
  height: 60px; 
  width: 100%;
  background: linear-gradient(90deg, #0b66ff 0%, #00c6c6 100%);
  display: flex;
  align-items: center; /* vertical center */
  box-sizing: border-box;
}


.header-logo {
  height: 50px; 
  width: 150px;
  margin-left: 200px;
}

.container{
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
    background-color: white;
}

.container-bottom{
  position: relative;
}

.add-contact{
    position: absolute;
    right: 10px;
    height: 36px;
    width: 126px;
    margin-bottom: 200px;
    border: 0px;
    border-radius: 4px;
    color: white;
    background-color: #006EFA;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

table, th, td{
    border: 1px solid #E2E8F0;
    border-collapse: collapse;
}

table{
  width: 98%;
  position: relative;
  left: 10px;
  right: 10px;
}

th{
  background-color: #F1F5F9;
}

td{
  padding-left: 12px;
  padding-right: 12px;
}

.table-container{
  margin-top: 20px;
  width: 100%;
}

.modal-overlay {
  position: relative;          /* stay on top of screen */
  left: 300px;
  width: 500px;
  height: 500px;
  background: rgba(0, 0, 0, 0.5); /* dark background */
  display: flex;            /* enable centering */
  align-items: center;      /* vertical center */
  justify-content: center;  /* horizontal center */
  z-index: 1000;            /* on top of everything */
}

.search{
  position: relative;
  left: 10px;
  height: 34px;
  width: 360px;
  padding-left: 10px;
  border: 1px solid #CBD5E1;
  border-radius: 6px;
}

th{
  height: 42px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

td{
  height: 68px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

h2{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F1F5F9;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
}

body{
  background-color: #F1F5F9;
}

.action-button{
  font-size: 11px;
  width: 24px;
  height: 24px;
  margin: 10px;
}
