.contact-page{
    width: 100%;
}

.header {
  height: 60px; 
  width: 100%;
  background: linear-gradient(90deg, #0b66ff 0%, #00c6c6 100%);
  display: flex;
  align-items: center; 
  box-sizing: border-box;
}

.header-logo {
  height: 50px; 
  width: 150px;
  margin-left: 200px;
}

.container{
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
    background-color: white;
}

.container-bottom{
  position: relative;
}


h2{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F1F5F9;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
}

body{
  background-color: #F1F5F9;
}

