table, th, td{
    border: 1px solid #E2E8F0;
    border-collapse: collapse;
}

table{
  margin-top: 20px;
  width: 1016px;
  background-color: white;
}

th{
  height: 42px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F1F5F9;
}

td{
  height: 68px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 12px;
  padding-right: 12px;
}

.action-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border: none;
    background: transparent;
    color: red;
}

.action-button span {
    font-size: 12px;
    margin-top: 6px; 
    color: #333;
}

.action-button-container{
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}